{{#if perspective}}
  <span class="progress-wrap">
    {{#progress-bar progressStyle=progressStyle}}
      {{yield}}
    {{/progress-bar}}
  </span>
{{else}}
  {{#progress-bar progressStyle=progressStyle}}
    {{yield}}
  {{/progress-bar}}
{{/if}}
